/* Styling for all cards */
.card {
    border: 0px solid;
    border-radius: 12px;
    width: 360px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* No wrap property for all cards */
.nowrap-item {
    white-space: nowrap;
}

/* Styling for passport */
#passport {
    background: radial-gradient(circle at right top, #fffdf4, #b7badd);
}

/* Styling for driver's license */
#license {
    background: radial-gradient(circle at right top, #fdfff0, #b7ddd4);
}