#landing {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.btn-web-gov {
    --bs-btn-bg: #000000;
    --bs-btn-color: #fff;
    --bs-btn-hover-bg: #ffffff00;
    --bs-btn-hover-color: #000000;
    --bs-btn-hover-border-color: #000000;
}

#home {
    background: radial-gradient(circle at left bottom, #fffff4, #ebfffd, #ecedff);
}

header {
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
}

#intro {
    background-color: #e8f5f4e3;
}

#about {
    background-color: #f4f4ee;
}

#joinus {
    background-color: #f5eced;
}

header .container-fluid {
    margin-top: -6rem;
}
