<h1>Change Password</h1>

<p id="ErrorPrompt" class="mt-4 h6 text-center mb-4" style="color: #ac5754; visibility: hidden;"></p>

<div class="form-outline mb-2">
    <label class="form-label fw-bolder" for="logFormOldPass">Old Password</label>
    <input type="password" id="logFormOldPass" class="form-control transparent-input form-control-lg"
        placeholder="Enter your old password" required />
</div>

<div class="form-outline mb-2">
    <label class="form-label fw-bolder" for="logFormNewPass">New Password</label>
    <input type="password" id="logFormNewPass" class="form-control transparent-input form-control-lg"
        placeholder="Enter your new password" required />
</div>

<div class="d-flex justify-content-center text-center text-lg-start mt-4 pt-2">
    <button type="button" class="btn btn-dark btn-lg px-4 custom-button" onclick="sendResetRequest()">Reset
        Password</button>
</div>

<script>
    function sendResetRequest() {
        // Get first name, last name, email and password values
        var oldpass = document.getElementById("logFormOldPass").value;
        var newpass = document.getElementById("logFormNewPass").value;
        var ep = document.getElementById("ErrorPrompt");

        // Create an object with the data
        var data = {
            old_pass: oldpass,
            new_pass: newpass,
        };

        // Send a PATCH request
        fetch('/change_password', {
            method: 'PATCH',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        })
            .then(response => response.json())
            .then(result => {
                console.log(result.status)
                // Handle the response from the server
                if (result.status === 0) {
                    ep.style.color = "green";
                    ep.textContent = "Your password has been reset successfully.";
                    ep.style.visibility = "visible";
                } else {
                    let errorMessage = "";
                    switch (result.status) {
                        case 2:
                            errorMessage = "The user was not found.";
                            break;
                        case 3:
                            errorMessage = "The old password entered is incorrect.";
                            break;
                        default:
                            errorMessage = "An unexpected error occurred. Please attempt the operation again later.";
                    }
                    ep.textContent = errorMessage;
                    ep.style.visibility = "visible";
                }
            })
            .catch(error => {
                // Handle errors
                console.error('Error:', error);
                ep.textContent = "An unexpected error occurred. Please attempt the operation again later.";
                ep.style.visibility = "visible";
            });
    }
</script>