<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Metadata for character set and viewport -->
    <meta charset="utf-8">
    <title>web.gov</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/logo.png') }}">

    <!-- Bootstrap CSS and Bootstrap Icons -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Custom styles -->
    <style>
        /* Style adjustments for buttons */
        .btn {
            margin: -4px 12px -4px 12px;
            border: #000000 !important;
            background-color: #000000 !important;
        }

        /* Additional margin adjustment for solid icons */
        .fa-solid {
            margin-bottom: 2px;
        }

        /* Navbar background color adjustment */
        .navbar {
            background-color: #000000 !important;
        }

        /* Body background color adjustment */
        body {
            margin: 0;
            height: 100vh;
            background: radial-gradient(circle at left bottom, #fffff4, #ebfffd, #ecedff);
        }
    </style>
</head>

<body onload="$('#container').load('feed');">
    <!-- Container for dynamic content -->
    <div id="container" style="padding: 32px;"></div>

    <!-- Bottom fixed navigation bar with buttons -->
    <nav class="navbar fixed-bottom navbar-dark bg-dark">
        <div class="container d-flex justify-content-center">

            <!-- Feed button -->
            <a class="btn btn-dark btn-sm d-flex align-items-center flex-column" type="submit"
                onclick="load(this, 'feed')">
                <div style="height: 32px;"><i class="bi bi-rss-fill fs-4"></i></div>
                <span style="font-size: small;">Feed</span>
            </a>

            <!-- Documents button -->
            <a class="btn btn-dark btn-sm d-flex align-items-center flex-column" type="submit"
                onclick="load(this, 'documents')">
                <div style="height: 32px;"><i class="bi bi-file-earmark-text fs-4"></i></div>
                <span style="font-size: small;">Documents</span>
            </a>

            <!-- Services button -->
            <a class="btn btn-dark btn-sm d-flex align-items-center flex-column" type="submit"
                onclick="load(this, 'services')">
                <div style="height: 32px;"><i class="bi bi-lightning-charge fs-4"></i></div>
                <span style="font-size: small;">Services</span>
            </a>

            <!-- Profile button -->
            <a class="btn btn-dark btn-sm d-flex align-items-center flex-column" type="submit"
                onclick="load(this, 'profile')">
                <div style="height: 32px;"><i class="bi bi-person fs-4"></i></div>
                <span style="font-size: small;">Profile</span>
            </a>
        </div>
    </nav>

    <!-- jQuery and Bootstrap JavaScript -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

    <!-- JavaScript for dynamic content loading and icon toggling -->
    <script>
        function load(button, page) {
            // Load dynamic content into the container
            $('#container').load(page);

            // Remove 'active' class from all buttons and reset icons
            document.querySelectorAll('.btn').forEach(function (btn) {
                btn.classList.remove('active');

                var icon = btn.querySelector('i');
                var iconName = icon.classList[1];
                resetIcon(icon, iconName);
            });

            // Add 'active' class to the clicked button and fill its icon
            button.classList.add('active');

            var icon = button.querySelector('i');
            var iconName = icon.classList[1];
            fillIcon(icon, iconName);
        }

        // Function to reset icon to its default state
        function resetIcon(icon, iconName) {
            switch (iconName) {
                case 'bi-rss-fill':
                    icon.classList.replace('bi-rss-fill', 'bi-rss');
                    break;
                case 'bi-file-earmark-text-fill':
                    icon.classList.replace('bi-file-earmark-text-fill', 'bi-file-earmark-text');
                    break;
                case 'bi-lightning-charge-fill':
                    icon.classList.replace('bi-lightning-charge-fill', 'bi-lightning-charge');
                    break;
                case 'bi-person-fill':
                    icon.classList.replace('bi-person-fill', 'bi-person');
                    break;
                default:
                    break;
            }
        }

        // Function to fill icon to indicate selection
        function fillIcon(icon, iconName) {
            switch (iconName) {
                case 'bi-rss':
                    icon.classList.replace('bi-rss', 'bi-rss-fill');
                    break;
                case 'bi-file-earmark-text':
                    icon.classList.replace('bi-file-earmark-text', 'bi-file-earmark-text-fill');
                    break;
                case 'bi-lightning-charge':
                    icon.classList.replace('bi-lightning-charge', 'bi-lightning-charge-fill');
                    break;
                case 'bi-person':
                    icon.classList.replace('bi-person', 'bi-person-fill');
                    break;
                default:
                    break;
            }
        }
    </script>
</body>

</html>