<script src="https://kit.fontawesome.com/aea9fedfee.js" crossorigin="anonymous"></script>

<section id="profile">
    <div class="w-100 d-flex justify-content-center align-items-center">
        <div class="container-fluid">
            <div class="row align-items-center">
                <p class="h3 h2-sm h1-md mb-4">Profile & Settings</p>

                <div id="notifications" class="btn-group-vertical col-12 mx-auto mx-md-0 d-block mb-3">
                    <a href="" class="col card link-underline link-underline-opacity-0 p-2">
                        <p class="fs-5" style="margin-top: 12px;">
                            <i class="fa-solid fa-envelope ps-3 pe-4"></i>Notifications
                        </p>
                    </a>
                </div>

                <div id="profile" class="btn-group-vertical col-12 mx-auto mx-md-0 d-block mb-3">
                    <a href="" class="col card link-underline link-underline-opacity-0 p-2">
                        <p class="fs-5" style="margin-top: 12px;">
                            <i class="fa-solid fa-user ps-3 pe-4"></i>My Profile
                        </p>
                    </a>

                    <a href="" class="col card link-underline link-underline-opacity-0 p-2">
                        <p class="fs-5" style="margin-top: 12px;">
                            <i class="fa-solid fa-gear ps-3 pe-4"></i>Application Settings
                        </p>
                    </a>

                    <a href="" class="col card link-underline link-underline-opacity-0 p-2">
                        <p class="fs-5" style="margin-top: 12px;">
                            <i class="fa-solid fa-mobile ps-3 pe-4"></i>My Sign-Ins and Devices
                        </p>
                    </a>
                </div>

                <div id="profile" class="btn-group-vertical col-12 mx-auto mx-md-0 d-block mb-5">
                    <a href="" class="col card link-underline link-underline-opacity-0 p-2">
                        <p class="fs-5" style="margin-top: 12px;">
                            <i class="fa-solid fa-circle-question ps-3 pe-4"></i>F.A.Q.
                        </p>
                    </a>

                    <a href="" class="col card link-underline link-underline-opacity-0 p-2">
                        <p class="fs-5" style="margin-top: 12px;">
                            <i class="fa-solid fa-bell-concierge ps-3 pe-4"></i>Contact Support
                        </p>
                    </a>

                    <a href="" class="col card link-underline link-underline-opacity-0 p-2">
                        <p class="fs-5" style="margin-top: 12px;">
                            <i class="fa-solid fa-arrows-rotate ps-3 pe-4"></i>Check for App Updates
                        </p>
                    </a>
                </div>

                

                <a href="" type="button" class="btn btn-dark btn-lg fs-5 w-50 col-12 mx-auto d-block">
                    Sign Out
                </a>
            </div>
        </div>
    </div>
</section>